body{
  margin: 0 auto;
  width: 900px;
  margin-top: 200px;
  margin-left: 500px;
  font-size: 20px;
  background: #f0f0f0;
  }

  input[type=email],[type=password],[type=text]{
  font-size: 20px;
  width: 300px;
  padding: 2px;
  border-radius: 0.5rem;
}

.signup {
	max-width: 15em;
	margin: 0 auto;
  background-color: #f4f5f6;
	border: .1rem solid #d1d1d1;
	padding: 3rem;
	border-radius: 2rem;
}

h1{
  margin-top: 20px;
  color: blue;
}

.btn {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    border-radius: 0.25rem;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
