Account management
	Interface to Create Account

Reference Tables
----------------
		stockdetails 
			id	          : int 
			companysymbol     : String : NOTNULL
			companyname       : String : NOTNULL 

		stockprices
		        id integer PRIMARY KEY,
		        date date NOT NULL,
		        stockdetails_id interger NOT NULL,
		        openvalue real NOT NULL,
		        highvalue real NOT NULL,
		        lowvalue real NOT NULL,
		        closevalue real NOT NULL,
		        adjclose real NOT NULL,
                        volume integer NOT NULL,
                        10DayAverageVolume - ???
                        50DayAverageVolume - ???
                        100DayAverageVolume - ???                        
                        365DayAverageVolume - ???                                                
                        MaximumVolumePerDay     - ???
                        MinimumVolumePerDay     - ???                        
                        50DayMovingAveragePrice - ???
                        100DayMovingAveragePrice - ???                        


		RegisteredOwners
			FirebaseID 	     : String :  Not null
			RegisteredOwnerEmail : String    : Not null 
			RegisteredOwnerID   : NUM AUTO  :  Not null
			NewUser             : 0|1      (0-NewUser ,1 -Olduser)

		PortfolioRiskCodeStrategy 
			PortfolioRiskCodeStrategyID : int 
			StrategyDescription         : String 
				1 - Investment protection 	- monitor if the investment is in loss  	
				2 - Value for Aging Investment  - monitor if the investment grows with time   	
				
		PortfolioRiskCode
			PortfolioRiskCodeID 	     : NUM 
			PortfolioRiskCodeStrategyID  : Foreign  
			PortfolioRiskCodeStatus    :
			PortfolioRiskCodeColorNum    :  
				100 - 1 - good 		- profit 				- GREEN 
				101 - 1 - ok  		- no profit no loss 			- YELLOW 
				102 - 1 - bad 	 	- loss in the range of 1% to 10%	- RED
				101 - 1 - very bad	- loss greater than 10%			- BLACK									
		
		PortfolioActionRecommendationCode
			PortfolioActionRecommendationCodeID : NUM 
			Recommendation                      : SELL | BUY | SELL PARTIALY | BUY PARTIALLY | EXIT COMPLETELY
			
		StockRiskCodeStrategy 
			StockRiskCodeStrategyID : int 
			StrategyDescription         : String 
				200 - Investment protection 	- monitor if the investment is in loss  	
				201 - Value for Aging Investment  - monitor if the investment grows with time 
				202 - Check stock Financials      - monitor latest stock financials and decide further 
				
		StockRiskCode
			StockRiskCodeID 	     : NUM 
			StockRiskCodeStrategyID  : Foreign  
			StockRiskCodeStatus    :
			StockRiskCodeColorNum    :  
				100 - 1 - good 		- profit 				- GREEN 
				101 - 1 - ok  		- no profit no loss 			- YELLOW 
				102 - 1 - bad 	 	- loss in the range of 1% to 10%	- RED
				101 - 1 - very bad	- loss greater than 10%			- BLACK											

		StockActionRecommendationCode
			StockActionRecommendationCodeID : NUM 
			Recommendation                      : SELL | BUY | SELL PARTIALY | BUY PARTIALLY | EXIT COMPLETELY
			
		PortfolioInventory
			PortfolioName          				: String   : 	Not null 
			RegisteredOwnerID      				: Foreign  : 	 RegisteredOwners->RegisteredOwnerID : : Not null  	
			PortfolioID            				: NUM AUTO : 	Primary key : Auto : Not null 
			PortfolioDescription   				: String   :	may be NULL 
			TotalInvestedCost      				: NUM  	   :	may be NULL 
			CurrentValue           				: NUM      :	may be NULL 
			CAGR                   				: NUM      :	may be NULL 
			ProfitLossValueComparedtoCostInvestment         : NUM
 			ProfitLossPercentComparedtoCostInvestment       : NUM
			ProfitLossValueComparedtoPreviousClose		: NUM
			ProfitLossPercentComparedtoPreviousClose	: NUM
			PortfolioRiskCode      				: NUM      :	may be NULL 
			PortfolioActionRecommendationCodeID        	: NUM      :	may be NULL 
			PortfolioTaxLongTermPercent 			: NUM      :	may be NULL 					
			PortfolioTaxShortTermPercent 			: NUM      :	may be NULL 					
			LastUpdatedDate                                 : Date 
			LastUpdatedTime                                 : Date 


		PortfolioValueLedger
			PortfolioID            : Foreign Key
			RegisteredOwnerID     : Foreign          : RegisteredOwners->RegisteredOwnerID : : Not null  	
			Date                   :
			PortfolioCostAsOnDate  :
			PortfolioValue         :

		StockInventory
		        StockInvetoryID       				: int              : Primary key : Auto 
			RegisteredOwnerID     				: Foreign          : RegisteredOwners->RegisteredOwnerID : : Not null  	
			SymbolID              				: Foreign
			NumberOfStock 					: Float
			AverageCost           				: Float
			TotalInvestment       				:
			CAGR                  				: 
			Geomean 	      				:
			PortfolioTaxTerm       				: NUM      :	may be NULL 					
			CurrentValue           				: NUM      :	may be NULL 

		StockValueLedger
			StockValueLedgerID 
			PercentageOfOverallInvestmentByOwner:
			ProfitLossValueComparedtoCostInvestment         : NUM
 			ProfitLossPercentComparedtoCostInvestment       : NUM
			ProfitLossValueComparedtoPreviousClose		: NUM
			ProfitLossPercentComparedtoPreviousClose	: NUM
			StockRiskCodeID					: NUM      :	may be NULL                                   
			StockActionRecommendationCodeID			: NUM      :	may be NULL                                   
			LastUpdatedDate                                 : Date 
			LastUpdatedTime                                 : Date 

			
		StockInventoryLedger 
			StockInventoryLedgeID : int              : Primary key : Auto 
			TransactionId         : int              : Foreign key : Auto
			RegisteredOwnerID     : Foreign          : RegisteredOwners->RegisteredOwnerID : : Not null  	
			PortfolioID           : Foreign
			SymbolID              : Foreign
			NumberOfSharesinStock : Float
			TotalCost             : Float
			PricePerStock         : Float 
			Quantity              : Float  
			LedgerUpdated         :   0 - not updated
						  1 - updated 	
		
		TransactionType
			TransactionTypeId : NUM 
			TransactionTypeDescr: String   (SELL,BUY,DIVIDENT,SPLIT)
		
		TransactionLedger 
			TransactionTypeId                           : Foreign
		        TransactionId                               : int                    :  Primary key : Auto
		        PortfolioID                                 : Foreign 
		        SymbolID                                    : Foreign 
		        Quantity                                    : float 
		        PricePerShare                               : float 
		        NetAmount                                   : float
		        PaymentTypeId                               : Foreign
			TransactionDate                             : Date
			TransactionTime                             : Time may be null
			BrokerFee                                   :
			Tax                 			    :
			StockBrokerID                               :
			StockBrokerTransactionID                    :
			TransactionProcessedInternally              : 1|0  (default 0)

                        
 	
 	
 High level flow 
 ---------------
 	Transactionflow
 		where :
 			This update would be done by a separate script or manually 
 		when  : 
 			Occasianally needs manual effort to export the report from the brokerage account 
 			
 		what :
			TransactionLedger gets updated from the brokerage account 
			During the initial entry from brokerage account "TransactionLedger:TransactionProcessedInternally" will be set to 0(Zero)
 	
 	TransactionProcessingflow
 		where :
 			This update would be done by a separate script
 		when  : 
 			immediately aftet "Transactionflow" happens   
 		
 		who   :
 			TransactionLedger
 			
 			"StockInventoryLedger" is a copy of the "TransactionLedger" . It helps in doing addition/subtraction 
			of stocks on a particular transaction ID, i.e it helps in manipulating a transaction by having a
			copy of the transaction 
			
 		what :
			Check TransactionLedger for  "TransactionLedger:TransactionProcessedInternally" set to 0(Zero)
			Gets the details of the transaction ID and other details and updates the "StockInventoryLedger"
			Change "TransactionLedger:TransactionProcessedInternally" set to 1 (One)
			 
				
	StockInventoryLedgerFlow		
 		where :
 			This update would be done by a separate script
 		when  : 
 			immediately aftet "TransactionProcessingflow" happens   
 		
 		who   :
 			"StockInventoryLedger" is a copy of the "TransactionLedger" . It helps in doing addition/subtraction 
			of stocks on a particular transaction ID, i.e it helps in manipulating a transaction by having a
			copy of the transaction 
			
			StockInventory
			
 		what :
			Check StockInventoryLedger for  "StockInventoryLedger:LedgerUpdated" set to 1(one)
			Gets the details and update the respective entry in "StockInventory"
			Change "StockInventoryLedger:LedgerUpdated" set to 0 (Zero)
	

	GetStockDataFlow :
 		where :
 			This update would be done by a separate script
 		when  : 
 			Every one hour  
 		
 		who   :
 			stockprices
 			StockInventory
 			PortfolioInventory
 			PortfolioValueLedger
 		what :
			Get stock prices from Yahoo and update "stockprices" table 
			Update the values in 
			
			
	StockHealthMonitorFlow_1:

















*********** TODO ************		 
			
		NotificationTable
			NotificaionID                 : 
			NotificationQuery             :  Query command 
			NotificationOutputType        :  Intermediate|
			NotificationOutputProcess     :  Python command to process the query output and decision
			NotificationProcessInterval   :
			NotificationResult            :  
			NotificationIndicatorColor    :   Green|red|yellow
			NotificationIndicator         :   DownArrow|UpArrow			
			NotificationLastProcessedDate :
			NotificationLastProcessedTime :				
				

 	
Notifications 
	Price low watch volume 
 	Price high watch volume 
 	Mark the status indicator based on Moving average and alert the problem or praise the possible increase in price 
 	Mark the profit or loss of stocksInventory and portfolioInventory  
 	Update the CAGR statuc for  stocksInventory and portfolioInventory  
 	Update GeoMean calculations based status 