Account management
	Interface to Create Account

Reference Tables
----------------
		stockdetails 
			id	          : int 
			companysymbol     : String : NOTNULL
			companyname       : String : NOTNULL 

		stockprices
		        id integer PRIMARY KEY,
		        date date NOT NULL,
		        stockdetails_id interger NOT NULL,
		        openvalue real NOT NULL,
		        highvalue real NOT NULL,
		        lowvalue real NOT NULL,
		        closevalue real NOT NULL,
		        adjclose real NOT NULL,
                        volume integer NOT NULL,
                        10DayAverageVolume - ???
                        50DayAverageVolume - ???
                        100DayAverageVolume - ???                        
                        365DayAverageVolume - ???                                                
                        MaximumVolumePerDay     - ???
                        MinimumVolumePerDay     - ???                        
                        50DayMovingAveragePrice - ???
                        100DayMovingAveragePrice - ???                        


		RegisteredOwners
			FirebaseID 	     : String :  Not null
			RegisteredOwnerEmail : String    : Not null 
			RegisteredOwnerID   : NUM AUTO  :  Not null
			NewUser             : 0|1      (0-NewUser ,1 -Olduser)

		PortfolioRiskCode
			PortfolioRiskCodeID 	     : NUM 
			PortfolioRiskCodeDescription : String   :	may be NULL 
			PortfolioRiskCodeColorNum    :
			
		PortfolioInventory
			PortfolioName          				: String   : 	Not null 
			RegisteredOwnerID      				: Foreign  : 	 RegisteredOwners->RegisteredOwnerID : : Not null  	
			PortfolioID            				: NUM AUTO : 	Primary key : Auto : Not null 
			PortfolioDescription   				: String   :	may be NULL 
			TotalInvestedCost      				: NUM  	   :	may be NULL 
			CurrentValue           				: NUM      :	may be NULL 
			CAGR                   				: NUM      :	may be NULL 
			ProfitLossValueComparedtoInitialInvestment      : NUM
 			ProfitLossPercentComparedtoInitialInvestment    : NUM
			ProfitLossValueComparedtoPreviousClose		: NUM
			ProfitLossPercentComparedtoPreviousClose	: NUM
			PortfolioRiskCode      				: NUM      :	may be NULL 
			PortfolioTaxTerm       				: NUM      :	may be NULL 					

		PortfolioLedger
			PortfolioID            : Foreign Key
			RegisteredOwnerID     : Foreign          : RegisteredOwners->RegisteredOwnerID : : Not null  	
			Date                   :
			PortfolioCostAsOnDate  :
			PortfolioValue         :

		StockInventory
		        StockInvetoryID       : int              : Primary key : Auto 
			RegisteredOwnerID     : Foreign          : RegisteredOwners->RegisteredOwnerID : : Not null  	
		        PortfolioID           :
			SymbolID              : Foreign
			NumberOfSharesinStock : Float
			AverageCost           : Float
			TotalInvestment       :
			CAGR                  : 
			Geomean 	      :
			TransacationHistory   : String
			
		StockLedger
			PortfolioID               : Foreign Key
			RegisteredOwnerID         : Foreign          : RegisteredOwners->RegisteredOwnerID : : Not null  	
			Date                      :
			NumberOfStocksOnDate      : Num
			AverageCostOfStockOnDate  :
			CurrentValueOfStockOnDate :
		
		
		TransactionType
			TransactionTypeId : NUM 
			TransactionTypeDescr: String   (SELL,BUY,DIVIDENT,SPLIT)
		
		TransactionLedger 
			TransactionTypeId                           : Foreign
		        TransactionId                               : int                    :  Primary key : Auto
		        PortfolioID                                 : Foreign 
		        SymbolID                                    : Foreign 
		        Quantity                                    : float 
		        PricePerShare                               : float 
		        NetAmount                                   : float
		        PaymentTypeId                               : Foreign
			TransactionDate                             : Date
			TransactionTime                             : Time may be null
			BrokerFee                                   :
			Tax                 			    :
			TransactionProcessedInternally              : 1|0  (default 0)
			

                        
*********** TODO ************		 
			
		NotificationTable
			NotificaionID                 : 
			NotificationQuery             :  Query command 
			NotificationOutputType        :  Intermediate|
			NotificationOutputProcess     :  Python command to process the query output and decision
			NotificationProcessInterval   :
			NotificationResult            :  
			NotificationIndicatorColor    :   Green|red|yellow
			NotificationIndicator         :   DownArrow|UpArrow			
			NotificationLastProcessedDate :
			NotificationLastProcessedTime :				
				
 	
 	
 High level flow 
 ---------------
 	A symbol can be part of a portfolio only 
 	A portfolio can have N symbol 
 	Symbols in different portfolio's will be consolidated in StockInvetory
 	
  
Add any new symbol info in SymbolTable

Add any new portfolio in PortfolioDetails

Add a transaction  in TransactionLedger
	Process each record in the TransactionLedger , update the PortfolioInvetory and StockInvetory
	Mark the row as Processed 
	
Every day three time , get the stock price of the stocks in the Portfolio and update the StockDailyTable

Perform the following calculations 50SMA and 200SMA and update StockDailyTable

Perform the CAGR calculations for PorfolioInventry and StockInventory 

Notifications 
	Price low watch volume 
 	Price high watch volume 
 	Mark the status indicator based on Moving average and alert the problem or praise the possible increase in price 
 	Mark the profit or loss of stocksInventory and portfolioInventory  
 	Update the CAGR statuc for  stocksInventory and portfolioInventory  
 	Update GeoMean calculations based status 